<!-- Contenedor principal del formulario -->
<main class="main-content">
  <div class="container" [class.active]="isRegistering">
    <div class="form-box login">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <h1>Iniciar Sesión</h1>
        
        <div class="input-box">
          <input type="text" placeholder="Usuario" formControlName="username" required />
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Contraseña" formControlName="password" required />
          <i class="bx bxs-lock-alt"></i>
        </div>
        <div class="forgot-link">
          <a href="#">Olvidaste tu contraseña?</a>
        </div>
        <button class="btn" type="submit">Iniciar Sesión</button>
        <p>o inicia sesión con redes sociales</p>
        <div class="social-icons">
          <a href="#"><i class="bx bxl-google"></i></a>
          <a href="#"><i class="bx bxl-facebook"></i></a>
          <a href="#"><i class="bx bxl-github"></i></a>
          <a href="#"><i class="bx bxl-linkedin"></i></a>
        </div>
      </form>
    </div>

    <div class="form-box register">
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <h1>Registro</h1>
       
        <div class="input-box">
          <input type="text" placeholder="Usuario" formControlName="username" required />
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input type="email" placeholder="Email" formControlName="email" required />
          <i class="bx bxs-envelope"></i>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Contraseña" formControlName="password" required />
          <i class="bx bxs-lock-alt"></i>
        </div>
        <button class="btn" type="submit">Registrate</button>
        <p>o regístrate con redes sociales</p>
        <div class="social-icons">
          <a href="#"><i class="bx bxl-google"></i></a>
          <a href="#"><i class="bx bxl-facebook"></i></a>
          <a href="#"><i class="bx bxl-github"></i></a>
          <a href="#"><i class="bx bxl-linkedin"></i></a>
        </div>
      </form>
    </div>

    <div class="toggle-box">
      <div class="toggle-panel toggle-left">
        <h1>Hola, Bienvenido!</h1>
        
        <p>No tienes cuenta?</p>
        <button class="btn register-btn" (click)="toggleRegister()">Registrate</button>
      </div>
      <div class="toggle-panel toggle-right">
        <h1>Bienvenido de vuelta!</h1>
       
        <p>Ya tienes una cuenta?</p>
        <button class="btn login-btn" (click)="toggleLogin()">Iniciar sesión</button>
      </div>
    </div>
  </div>
</main>