<header class="header">
  <div class="header-container">
    <div class="logo-brand">
      <img src="/assets/images/logo.png" alt="Logo AquaSort" height="40" />
      <span class="brand-name">AquaSort</span>
    </div>
    <nav class="nav-menu">
      <a routerLink="/home" class="nav-link">Inicio</a>
      <a routerLink="/producto" class="nav-link">Nuestro producto</a>
      <a routerLink="/sobreNosotros" class="nav-link">Sobre Nosotros</a>
      <a routerLink="/contacto" class="nav-link">Contáctanos</a>
      <a routerLink="/login" class="nav-link ">Iniciar Sesión</a>
      <a routerLink="/registro" class="nav-link register-btn">Regístrarse</a>
    </nav>
  </div>
</header>

<main class="main-content">
  <router-outlet></router-outlet>
</main>
